/* google font - poppins */
/* cdn */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family : poppins, sans-self */
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #8B55E9 0%, #5D6BE6 100%);
}

.wrapper {
    position: absolute;
    visibility: hidden;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.wrapper .menu {
    padding: 10px 12px;
}

.content .item{
    list-style: none;
    margin-bottom: 2px;
    padding: 0 5px 0 10px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 22px;
    height: 50px;
    border-radius: 5px;
    background: #f2f2f2;
    cursor: pointer;
}

.content .item i {
    margin-right: 6px;
}

.content .item:hover {
    background-color: #ffffff;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.8);
}

.content .item span {
    font-size: 17px;
    margin-left: 8px;
}

.content .setting {
    display: flex;
    margin-top: -5px;
    padding: 5px 12px;
    border-top: 1px solid #ccc;
}

.content .share {
    position: relative;
    justify-content: space-between;
}

/* .content .share .sns {
    font-size: ;
} */

.share .share-menu {
    position: absolute;
    background: #fff;
    padding: 13px;
    width: 200px;
    right: -200px;
    top: -35px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    pointer-events: none;
    opacity: 0;
    transition: .2s ease;
}

.share:hover .share-menu {
    opacity: 1;
    pointer-events: auto;
}
